.slider-img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.slider-area {
    position: relative;
}

.arrow {
    width: 30px;
    height: 30px;
    border: 0.5px solid #a9a9a9;
    background-color: white;
    border-radius: 2px;
    opacity: 70%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.arrow:hover {
    border: 0.5px solid rgb(255, 85, 0);
    color: rgb(255, 85, 0);
}

.prev-arrow {
    left: 11px;
}

.next-arrow {
    right: 8px;
}
.nameSongList {
    margin: 0px;
    text-align: left;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.name-song a{
    text-align: left;
    color: black;
}
.name--user a{
    color: #8d8c8c;
    margin: 0px;
}

.item-title a, .item-description a{
    text-decoration: none;
}