/* .body-content .image {
    background-image: linear-gradient(blue, violet);
    height: 200px;
} */

.body-content .song-avt {
    width: 100%;
    object-fit: contain;
    aspect-ratio:  1 / 1;
}

.body-content .desc-box {
    margin-bottom: 15px;
}

.body-content .play-btn {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.body-content .play-btn:hover {
    background-color: #615e5e;
}

.body-content .tag-ref {
    background-color: #999999;
    color: white;
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;
}

.body-content .tag-ref:hover {
    background-color: #615e5e;
}

.body-content .audio-control {
    width: 100%;
}

.user-desc {
    display: flex;
    align-items: center;
}

.first-desc-row {
    flex: 1;
}



