* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #f2f2f2;
}

.right-text {
    text-align: right;
}

.grey-text {
    color: #999999;
}

.small-text {
    font-size: 12px;
}

.border-radius-1 {
    border-radius: 4px;
}

.circle {
    border-radius: 50%;
}

.big-text {
    font-size: 16px;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.font-24 {
    font-size: 24px;
}

.font-16 {
    font-size: 16px;
}

.font-12 {
    font-size: 12px;
}