<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/lib/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/details_body.css">
    <link rel="stylesheet" href="../assets/lib/fontawesome-free-6.2.1-web/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!--    <script src="https://unpkg.com/wavesurfer.js"></script>-->
    <title>Document</title>


</head>
<body>
<div class="body-container container-fluid">
    <div class="body container pb-5">
        <div class="song-area row p-3">
            <div class="col col-8">
                <div class="song-details">
                    <div class="details-head d-flex align-items-center justify-content-between p-3">
                        <div class="header-left d-flex align-items-center">
                            <div class="play-button d-flex justify-content-center align-items-center me-3">
                                <i class="font-24 fa-solid fa-play"></i>
                            </div>
                            <div class="first-desc-row d-inline-block">
                                <p class="user-upload m-0 font-24" id="name-Songs"></p>
                                <a class="item-name m-0 font-16" style="color: #4d5154" id="name-user" onclick="redirectSearchUser()"></a>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="second-desc-row d-inline-block right-text">
                                <p class="date-upload m-0 font-16" id="time-upload"></p>
                            </div>
                        </div>
                    </div>
                    <div class="details-foot p-3">
                        <div id="audio-wave">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="song-image p-3">
                    <img class="song-img" id="avatar-song" src="" alt="">
                </div>
            </div>
        </div>

        <div class="comment-related-song row p-3">
            <div class="col col-8">
                <div id="trueLogin" class="feedback p-3">
                    <div class="comment border d-flex">
                        <img class="user-img" id="user-avatar" src="" alt="">
                        <div class="input-container d-flex align-item-center justify-content-center py-2 px-3">
                            <input class="input-comment p-1" id="input_comment" type="text">
                        </div>
                        <span class="send-btn">
                            <i onclick="sendComment_song()" class="fa-solid fa-paper-plane" onkeypress="return function (e){
                                if(e.keyCode===13){
                                    return true;
                                }
                                return false;
                            }"></i>
                        </span>
                    </div>
                </div>
                <div class="user-action px-3">
                        <span class="like-count border py-1 px-2 me-1 border-radius-1 pointer" id="btnLike">
                            <i class="fa-solid fa-heart" id="click-like"></i><i class="fa-regular fa-heart" id="none-like"></i> <span id="like-song"></span>
                        </span>
                    <span class="like-count border py-1 px-2 me-1 border-radius-1 pointer">
                            <i class="fa-solid fa-square-plus"></i> Add to playlist
                        </span>
                    <span class="play-count border py-1 px-2 me-1 border-radius-1 pointer">
                            <i class="fa-solid fa-play"></i> <span id="view-song"></span>
                        </span>
                    <span class="comment-count border py-1 px-2 border-radius-1 pointer">
                            <i class="fa-solid fa-comment"></i> <span id="comment-song"></span>
                        </span>
                    <hr>
                </div>
                <div class="list-com-and-user row p-3">
                    <div class="col col-2">
                        <div class="user-avt">
                            <img class="img-avt" id="avatar-User-Song" src="" alt="">
                        </div>
                        <p class="my-2 grey-text" id="name-user2"></p>
                        <div class="d-flex align-items-center justify-content-between">
                                <span class="playlist-count d-flex align-items-center">
                                    <span class="filter-icon me-1 grey-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                             fill="currentColor" class="bi bi-soundwave" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"/>
                                        </svg>
                                        20
                                    </span> 
                                </span>
                            <span class="song-count d-flex align-items-center">
                                    <span class="filter-icon me-1 grey-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                             fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
                                            <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                                            <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
                                            <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
                                            <path fill-rule="evenodd"
                                                  d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                        30
                                    </span>
                                </span>
                        </div>
                    </div>
                    <div class="col col-10 comment-area">
                        <p class="comment-header grey-text">
                            <i class="fa-solid fa-comment"></i>
                            <span id="comment-2"></span> comment
                        </p>
                        <hr>
                        <div id="list-comment">
                            </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">

            </div>
        </div>
    </div>
</div>

</body>
<script src="../assets/js/onloadDetail_body.js"></script>
<script src="../../users/onload-check-login.js"></script>
<script src="../assets/js/redirect_Song.js"></script>
<script src="../assets/js/comment.js"></script>
<script src="../assets/js/like.js"></script>
<script src="../../home/js/search_js.js"></script>
<script>

</script>
</html>