<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/lib/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/body.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" href="../assets/css/content.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/modal-create-playlist.css">
    <link rel="stylesheet" href="../assets/lib/fontawesome-free-6.2.1-web/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <title>Document</title>


</head>
<body>
<!-- Header -->
<div class="header-cointainer container-fluid">
    <div class="header container d-flex align-items-center justify-content-between">
        <div class="navigation d-flex align-items-center">
            <div class="logo d-flex align-items-center me-3">
                <img class="logo-img" src="../assets/img/logo/Picture1.png" alt="">
            </div>
            <div class="nav-bar d-flex align-items-center">
                <div><a class="px-3 nav-item text-decoration-none text-white btn btn-sm" href="../../discovery/layout/body_home.html">Home</a></div>
                <div><a class="px-3 nav-item text-decoration-none text-white btn btn-sm" href="">Library</a></div>
                <div><a class="px-3 nav-item text-decoration-none text-white song-btn modal-open btn btn-sm" onclick="openModal('.song-modal')">Upload track</a></div>
            </div>
        </div>
        <div class="user-controller d-flex align-items-center">
            <div class="search-bar mx-2">
                <div class="input-group">
                    <input id="input_search" class="form-control" type="text" placeholder="Search" value="">
                    <span  class="input-group-text" style="cursor:pointer">
                            <svg onclick="submitSearch(0)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </span>
                </div>
            </div>
            <div id="falseLogin" class="user-register d-flex align-items-center">
                <button id="onFormLogIn" class="btn btn-outline-dark text-white login-btn mx-2">Sign in</button>
                <button id="onFormSignIn" class="btn btn-outline-danger mx-2">Create account</button>
            </div>
            <div id="trueLogin" class="user-info d-flex align-items-center">
                <div class="user-avatar p-2">
                    <div class="avatar"></div>
                </div>
                <p class="m-0 text-white username">Username</p>
                <span class="text-white mx-2 user-toggle px-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down btn-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </span>
                <ul class="user-menu border p-0">
                    <li><a class="dropdown-item py-2 px-3" href="#">User info</a></li>
                    <li><a class="dropdown-item py-2 px-3" href="#">Change password</a></li>
                    <hr class="m-1">
                    <li>
                        <a class="dropdown-item py-2 px-3 d-flex" onclick="logOut()">Log out
                            <span class="d-flex align-items-center ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="body-container container-fluid">
    <div class="body container pb-5">
        <div class="row">

            <!-- Sidebar -->

            <div class="sidebar col col-lg-3">
                <div class="search-box">
                    <ul class="search-menu p-0 m-0 mt-4">
                        <li class="search-item">
                            <a class="filter-option d-block px-3 py-2" onclick="tabSearch(0)">
                                    <span class="filter-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </span>
                                Everything
                            </a>
                        </li>
                        <li class="search-item">
                            <a class="filter-option d-block px-3 py-2" onclick="tabSearch(1)">
                                    <span class="filter-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-soundwave" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"/>
                                        </svg>
                                    </span>
                                Tracks
                            </a>
                        </li>
                        <li class="search-item">
                            <a class="filter-option d-block px-3 py-2" onclick="tabSearch(3)">
                                    <span class="filter-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                        </svg>
                                    </span>
                                People
                            </a>
                        </li>
                        <li class="search-item">
                            <a class="filter-option d-block px-3 py-2" onclick="tabSearch(2)">
                                    <span class="filter-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
                                            <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                                            <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
                                            <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
                                            <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                    </span>
                                Playlists
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="mx-3">
                <div class="filter-box px-3">
                    <p class="tag-header">Filter by tag</p>
                    <div class="tag-list">
                        <div class="tag px-2 small-text">#Pop</div>
                        <div class="tag px-2 small-text">#Rock</div>
                        <div class="tag px-2 small-text">#Ballad</div>
                    </div>
                </div>
            </div>

            <!-- Content -->

            <div  class="body-content col col-lg-9">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-container m-0">
    <div class="container footer">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top pt-4 pb-5 px-3">
            <div class="col-md-4 d-flex align-items-center">
                <a href="#!" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1 big-text">
                    NTDQ
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <i class="big-icon fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <i class="big-icon fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <i class="big-icon fa-brands fa-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--song modal-->
<div class="modal song-modal">
    <div class="modal-dialogue song-modal-dialogue">
        <form class="song-form" id="song-form">
            <h2 class="text-center modal-header">Upload song</h2>
            <div class="row">
                <div class="col col-4">
                    <div class="modal-image mb-3">
                        <img class="modal-img modal-img-song" src="../../upload_img/update-your-songs-avatar .png" alt="">
                        <button class="upload-box upload-btn p-1">
                                <span onclick="openUpload('.input-file-song')" class="py-2 px-2">
                                    <i class="me-1 fa-solid fa-camera"></i>
                                    <span>Upload image</span>
                                </span>
                            <input onchange="replaceImg(this, '.modal-img-song')" id="image" name="image" class="input-file-song" type="file"
                                   hidden>
                        </button>
                    </div>
                    <button class="upload-mp3">
                        <span onclick="openUpload('.input-mp3-file')" class="py-2 px-2">Choose mp3 file: </span>
                        <input onchange="getFileName(this)" id="mp3" name="mp3" class="input-mp3-file" type="file" hidden>
                    </button>
                    <p class="mp3-name font-12 grey-text"></p>
                </div>
                <div class="col col-8">
                    <div class="modal-body p-0">
                        <div class="form-group mb-2">
                            <label class="modal-label my-1" for="name">Name:</label><br>
                            <input class="modal-input" name="name" type="text" id="name" placeholder="Name">
                        </div>
                        <div class="form-group mb-2">
                            <label class="modal-label my-1" for="description">Description:</label><br>
                            <textarea class="modal-input" rows="3" name="description" type="text" id="description"
                                      placeholder="Description"></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <label class="modal-label my-1" for="composer">Composer:</label><br>
                            <input class="modal-input" name="composer" type="text" id="composer" placeholder="Price">
                        </div>
                        <div class="form-group mb-2">
                            <label class="modal-label my-1" for="tags">Tag:</label><br>
                            <input class="modal-input" name="tags" type="text" id="tags" placeholder="Tag">
                        </div>
                        <div class="form-group mb-2">
                            <label class="modal-label my-1" for="singer">Singer:</label><br>
                            <input class="modal-input" name="singer" type="text" id="singer" placeholder="Singer">
                        </div>
                    </div>
                    <div class="modal-footer px-0">
                        <button onclick="closeModal()" class="modal-btn modal-close btn btn-sm btn-danger m-0"
                                type="button">Close
                        </button>
                        <button class="modal-btn modal-submit-short btn btn-sm btn-dark m-0" onclick="createSongs()" type="button">Upload
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



</body>
<script src="../assets/js/header.js"></script>
<script src="../assets/js/body.js"></script>
<script src="../assets/js/modal.js"></script>
<script src="../assets/js/edit-create-song.js"></script>
<script src="../../discovery/assets/js/redirect_Song.js"></script>
<script src="../../users/onload-check-login.js"></script>
<script src="../../page/js/search_js.js"></script>
<script src="../../page/js/home_JS.js"></script>
<script src="../../page/js/modal_js.js"></script>
<script src="../../page/js/signIn_js.js"></script>
<script src="../../page/js/login_js.js"></script>
<script>
    window.onload=function (){
        onloadCheckLogin();
        if(localStorage.getItem("searchIdUser")==null){
            submitSearch();
        }else {
            searchSongByUser(localStorage.getItem("searchIdUser"))
        }
    }

</script>
</html>