.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(190, 189, 189, 0.5);
    display: none;
    z-index: 2;
}


.modal-body-sign, td{
    padding: 30px 30px 15px 30px;
    text-align: left;
    size: 30px;
}
.modal-body-sign,table{
    margin: 0 auto;
}
.modal-body-sign{
    background-color: white;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: 5px 10px #888888;
}


.modal-body-log, td{
    padding: 10px 30px 10px 30px;
    text-align: left;
    size: 30px;
}
.modal-body-log,table{
    margin: 0 auto;
}
.modal-body-log{
    background-color: white;
    width: 400px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: 5px 10px #888888;
}